<h3>
   <!-- START Language list-->
   <div class="pull-right">
      <div uib-dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" uib-dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- END Language list    -->
   Home
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>


<section>
    <!-- START row-->
<div class="row" ng-controller="HomeController">
        <div class="col-lg-3 col-md-6">
           <!-- START panel-->
           <div class="panel panel-primary">
              <div class="panel-heading">
                 <div class="row">
                    <div class="col-xs-3">
                       <em class="fa fa-flag fa-5x"></em>
                    </div>
                    <div class="col-xs-9 text-right">
                       <div class="text-md">지역본부</div>
                       <p class="m0"></p>
                    </div>
                 </div>
              </div>
              <!--수정중-->
              <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block" ng-click="open('지역본부')">
                 <span class="pull-left">자세히보기</span>
                 <span class="pull-right">
                    <em class="fa fa-chevron-circle-right"></em>
                 </span>
              </a>
              <!-- END panel-->
           </div>
        </div>
        <div class="col-lg-3 col-md-6">
           <!-- START panel-->
           <div class="panel panel-green">
              <div class="panel-heading">
                 <div class="row">
                    <div class="col-xs-3">
                       <em class="fa fa-university fa-5x"></em>
                    </div>
                    <div class="col-xs-9 text-right">
                       <div class="text-md">연수원</div>
                       <p class="m0"></p>
                    </div>
                 </div>
              </div>
              <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block" ng-click="open('연수원')">
                 <span class="pull-left">자세히보기</span>
                 <span class="pull-right">
                    <em class="fa fa-chevron-circle-right"></em>
                 </span>
              </a>
           </div>
           <!-- END panel-->
        </div>
        <div class="col-lg-3 col-md-6">
           <!-- START panel-->
           <div class="panel panel-warning">
              <div class="panel-heading">
                 <div class="row">
                    <div class="col-xs-3">
                       <em class="fa fa-flask fa-5x"></em>
                    </div>
                    <div class="col-xs-9 text-right">
                       <div class="text-md">연구소</div>
                       <p class="m0"></p>
                    </div>
                 </div>
              </div>
              <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block" ng-click="open('연구소')">
                 <span class="pull-left">자세히보기</span>
                 <span class="pull-right">
                    <em class="fa fa-chevron-circle-right"></em>
                 </span>
              </a>
           </div>
           <!-- END panel-->
        </div>
        <div class="col-lg-3 col-md-6">
           <!-- START panel-->
           <div class="panel panel-danger">
              <div class="panel-heading">
                 <div class="row">
                    <div class="col-xs-3">
                       <em class="fa fa-building fa-5x"></em>
                    </div>
                    <div class="col-xs-9 text-right">
                       <div class="text-md">사옥</div>
                       <p class="m0"></p>
                    </div>
                 </div>
              </div>
              <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block" ng-click="open('사옥')">
                 <span class="pull-left">자세히보기</span>
                 <span class="pull-right">
                    <em class="fa fa-chevron-circle-right"></em>
                 </span>
              </a>
           </div>
           <!-- END panel-->
        </div>
     </div>
     <!-- END row-->
     
    <div class="jumbotron text-center">
        <div class="row">
            <!--리스트 위젯 자리 -->
        </div>
        <div class="row">
            <!--지도 자리-->
            <div class="col-md-12">
                <div ng-controller="CoreHomeMapController as gmap" class="panel widget">
                    <div ui-map="gmap.myMap1" ui-options="gmap.mapOptions1" class="gmap"></div>
                 </div>
            </div>
        </div>
    </div>
    
    <!-- <div id="map" style="width:100%;height:400px;" id="navermap" ng-controller="NaverMapController"></div> -->
</section>

<script type="text/ng-template" id="firstDialogId">
    <!-- <div><h3 class="mt0">ngDialog template</h3><p ng-show="theme">Test content for<code>{{theme}}</code></p><p ng-show="ngDialogData.foo">Data passed through:<code>{{ngDialogData.foo}}</code></p><p ng-show="dialogModel.message">Scope passed through:<code>{{dialogModel.message}}</code></p><button type="button" ng-dialog="secondDialogId" ng-dialog-class="ngdialog-theme-default" ng-dialog-controller="SecondModalCtrl" ng-dialog-close-previous="ng-dialog-close-previous" class="btn btn-default mr">Close and open</button><button type="button" ng-click="openSecond()" class="btn btn-primary">Open next</button></div> -->
    <!-- ngRepeat + ngResource-->
    <div class="panel panel-default">
        <div class="panel-heading">{{type}}<br>
           <!-- <small>{{type}}</small> -->
        </div>
        <div class="panel-body">
            <div ng-controller="FacilitiesPopupController as table">
                <table datatable="" dt-options="table.dtOptions" dt-columns="table.dtColumns" class="row-border hover"></table>
            </div>
        </div>
     </div>
 </script>
