<h3>Nav-Tree
   <small>An AngularJS directive that creates a Tree based on a Bootstrap "nav" list.</small>
</h3>
<div>
   <div class="panel panel-default">
        <div class="panel-heading">Datatables |
           <small>ngRepeat + ngResource</small>
        </div>
        <div class="panel-body">
            <div ng-jsoneditor ng-model="obj.data" options="obj.options"></div>
        </div>
        <div class="panel-footer">
            <button ng-click="cancle()" class="btn btn-default pull-right">취소</button>
            <button ng-click="update()" class="btn btn-default pull-right">저장</button>
            
            <div class="clearfix"></div>
        </div>
 </div>
</div>
